@using fitness.Models
@{
    ViewBag.Title = "title";
    Subscription subscription = ViewBag.Subscription;
}
<form action="/Home/Update" method="post">
    <label>Name:</label><input type="text" name="name" value="@subscription.name"/><br/>
    <label>Expiration date:</label>
    <input type="date" name="exp" value="@subscription.exp.ToString("yyyy-MM-dd")"/>
    @{
        if (subscription.exp < DateTime.Now)
        {
            <b> Expiered </b>
        }
    }
    <br/>
    <label>maxnumberofentrence:</label>
    <input type="number" name="maxnumberofentrence" value="@subscription.maxnumberofentrence"/>
    @{
        if (subscription.numberofentrence == subscription.maxnumberofentrence)
        {
            <b>No more entery</b>
        }
    }
    <br/>
    <label>Code:</label><input type="number" readonly="true" value="@subscription.code" name="code"/><br/>
    <input type="submit" value="Update">
</form>
<form action="/Home/Enter" method="post">
    <input type="number" hidden="true" name="code" value="@subscription.code"/>
    <input type="submit" value="Enter"/>
</form>