@using fitness.Models
@{
    ViewBag.Title = "title";
    List<Subscription> subscriptions = ViewBag.Subscriptions;
}
<table class="table">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Num</th>
        <th>Expiration</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Addres</th>
    </tr>
    @foreach (Subscription s in subscriptions)
    {
        if (s.deleted != 1)
        {
            <tr>
                <th>@s.code</th>
                <th>@s.name</th>
                <th>@s.numberofentrence</th>
                <th>@s.exp</th>
                <th>@s.email</th>
                <th>@s.phone</th>
                <th>@s.addres</th>
                <th>
                    <form action="/Home/Delete" method="post">
                        <input type="number" hidden="true" name="code" value="@s.code"/>
                        <input type="submit" value="Delete"/>
                    </form></th>
            </tr>
        }
    }
</table>